body{
    margin: 0px;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shape{
    background-color: grey;
    height: 1px;
}

.div1{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 4px 2px;
    min-height: 300px;
    margin: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.spanFillInfo{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divForm1{
width: 100%;
}

.formGenerate1{
    display: flex;
    flex-direction: column;
}

.divInRow{
    display: flex;
    flex-direction: row;
    gap: 10px;  
}
.divInRowRight{
    display: flex;
    flex-direction: row;
    gap: 10px;  
    justify-content: center;
    margin-top: 10px;
}

.divInColumn{

    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.step1{

    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

}

.step2{

    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    display: none;

}

.standardInput{
    border-style: solid;
    border-width: 1px;
    border-color: #08164493;
    min-width: 300px;
    height: 40px ;
    padding: 0px 10px;
}



textarea{
    resize: none;
    min-height: 100px;
    
}

.productDescription{
    width: auto;
    min-height: 40px;
}

.productQuantity, .productMeasure, .productPrice, .productTotalPrice{
    width: 100px;
    height: 40px;
}


.productObs{
    width: auto;
    height: 40px;
}

.bttn_addItem{
    height: 40px;
    cursor: pointer;
    width: 120px;
}

.bttnGoAndBack{
    height: 40px;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}